.hideNSeek {
	opacity: 0.25;
	background-color: rgb(15, 31, 44);
}

.hideNSeek:hover {
	opacity: 1;
	background-color: rgb(4, 46, 84);
	
}
.taskBody {
	/* background-color: black; */
}
.draghandle {
	color: grey;
}
.hide {
	opacity: 0;

}
.show {
	opacity: 1;
}
/* [contenteditable]:focus {
	outline: 0px solid transparent;
} */
/* [contenteditable=true]:empty:before {
	color: grey;
	opacity: 0.5;
  content: attr(placeholder);
  display: block; /* For Firefox */
/* }  */
/* [contenteditable=true]:empty {
	opacity: 1;
	cursor: text;
	content: attr(placeholder);
	display: block;
} 
*/